.bodystyle {
  background-color: #303030; }

.h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #ffffff;
  margin: auto;
  text-align: center;
  padding: 80px; }

.h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #f8f8f8;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px; }

.navbar {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 100; }

.nav-link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400; }

.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bolder; }

* {
  box-sizing: border-box; }

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #45a049; }

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px; }

.col-md-12 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  padding-top: 10px; }

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0; } }
